<p>[School Class Form]</p>
<%= form_for @school_class do |f| %>
<p> <%= f.label :title %>
	<%= f.text_field :title %>
<p> <%= f.label :room_number %>
	<%= f.number_field :room_number %>
<p> <%= f.submit %>
<% end %>